#ipc{
  display: grid;
  grid-template-columns:1fr 4fr;
}
#ipc2{
  padding: 20px;
}
body{
  margin: 0;
}
a{
  color: black;
  text-decoration: none;
}
h1{
  border-bottom:4px black solid;
  margin: 0;
  text-align: center;
  font-size:50px;
}
#ipc ul{
  border-right:4px black solid;
  width: 150px;
  margin: 0;
  padding: 20px;
  padding-left: 35px
}
h3{
  border-right: 4px black solid;
  width: 160px;
  margin: 0;
  padding: 10px;
  padding-left: 35px
}
@media(max-width:600px){
  #ipc{
    display: block;
  }
  #ipc ul{
    border-right:none
  }
  h3{
    border-right:none;
  }
  h1{
    border-bottom:none;
}
